body{
    background-color: #000;
}

.container{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 12% 0;
}

.construction{
    text-align: center;
    display: inline-block;
}

.construction-img{
    width: 40%;
}

h1 {
    margin: 30px;
    font-family: Montserrat;
    font-size: 3.2rem;
    color: #FFF;
}

